.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.container h3 {
  text-align: center;
}

.container .chartBlock {
  margin-bottom: 50px;
}

.container .chartBlock h1 {
  text-align: center;
}

.container #myChart {
  width: 100%;
  min-height: 60vh;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.container #tabelHolder {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 60vh;
  background-color: #f0f0f0;
  border-radius: 15px;
  text-align: center;
}

.container .tableBlock {
  margin-bottom: 50px;
}

.container .tableBlock table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.container .tableBlock table th {
  background-color: #87d387;
}

.container .tableBlock table td, .container .tableBlock table th {
  padding: 15px;
  border: 1px solid #646464;
  text-align: center;
}

.container .tableBlock table tbody tr:nth-child(odd) {
  background-color: #cecece;
}

.blockButton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blockButton button {
  padding: 15px 40px;
  border-radius: 15px;
  border: 1px solid black;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

/*Responsive*/
@media (max-width: 700px) {
  .container {
    width: 90%;
  }
  .tableBlock {
    overflow: hidden;
  }
  .tableBlock table, .tableBlock tbody, .tableBlock tr, .tableBlock td {
    display: block;
    width: 100%;
  }
  .tableBlock table thead {
    display: none;
  }
  .tableBlock table tr {
    margin-bottom: 20px;
  }
  .tableBlock table td {
    text-align: right;
  }
  .tableBlock table td:before {
    content: attr(data-label);
    float: left;
  }
}
