body {
  margin: 0;
}

body main {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

body main .paragraphBlock {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body main .paragraphBlock p {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

body main .paragraphBlock .paragraphBlock__paragraph::first-letter {
  font-size: 1.1em;
  font-weight: 600;
}
